.dashboard-grid {
  display: grid;
  gap: 5px;

  grid-auto-columns: 1fr 5fr;
  grid-template-areas: "sidebar main";
}

.dashboard-sidebar {
  grid-area: sidebar;
  align-self: stretch;
}

.dashboard-header {
  grid-area: header;
}

.dashboard-main {
  grid-area: main;
}

.dashboard-main-right {
  grid-area: main-right;
}
